#splash
  %header
    %h1 - POPUPXNYC PRESENTS -

    %time Saturday December 14<sup>th</sup> | 7~11pm

    %h2
      %span.red RED
      %span.white WHITE 
      %span.black BLACK

  %ul
    %li SEN2
    %li PHETUS
    %li JERKFACE
    %li JAMIE HEF
    %li COSBE
    %li DR RMDY
    %li RIMX
    %li BRIAN KIRHAGIS
    %li ZIMER
    %li EPIC
    %li DEPS
    %li BISHOP203
    %li CHRIS RWK
    %li SEE ONE
    %li DEMI
    %li SUPERWAXX
    %li BUTTSUP
    %li WONDERPUSS OCTOPUS
    %li MILKSOP
    %li ROYCE
    %li COZMIK SLOP
    %li TONY DEPEW
    %li CB23

  %footer
    %adress 11 -11 44th Rd Unit 202 L.I.C. NY. 11102