%p.contact For all inquiries, please email: <a href='mailto:popupxnyc@gmail.com'>popupxnyc@gmail.com</a>
%ul#social-links
  %li
    %a#facebook{ href: 'https://www.facebook.com/POPUPxNYC'} Facebook
  %li
    %a#instagram{ href: 'http://instagram.com/popupxnyc'} Instagram