section.admin{
  background: rgba(0,0,0,.66);
  #categoryselectlist{
    li{ display: inline-block; margin-right: 1em; line-height: 2em; }
  }
  .current{ color: $pink-dark; }
  form{
    label{
      display: inline-block;
      width: $cols2;
      text-align: right;
      margin-right: $gutter / $em;
      line-height: 1.5em;
    }
  }
  table{
    width: 100%;
    border: 1px $white solid;
    th{
      background: $white;
      color: $black;
      font-weight: 600;
    }
    tr{
      text-align: left;
      background: rgba(255,255,255,.125);
      border-bottom: 1px $black dotted;
      img{
        vertical-align: middle;
      }
    }
  }
  .actions{
    text-align: right;
    a{
      color: $pink-dark;
      margin-right: 1em;
    }
  }
  form{
    border: 1px $white solid;
  }
}
.error_explanation{
    padding-left: $gutter;
    border-bottom: 2px black solid;
    background: #333;
  h2{     font-size: 18px / $em; }
  ul li { font-size: 12px/$em;}
}
.field_with_errors{
  display: inline;
  label{
    color: $pink-dark;
  }
}
#crop-holder{
  display: block;
}
#crop-preview{
  //position: absolute;
  top: 0;
  right: 0;
  width:180px; 
  height:180px;
  overflow:hidden;
  border: 3px solid rgba(0,0,0,.5);
}