*, *:before, *:after { box-sizing: border-box; }

body{
  background: #000;
  color: #fff;
  padding-top: 2em;
}

#main-header{
  width: 20%;
  padding-right: 1em;
  float: left;
  h1{
    margin: 0 0 1em 0;
    padding: 150px 1em 0 0;
    font-size: 1.25em;
    word-spacing: .5em;
    font-weight: 200;
    text-align: right;
    background: url('http://s3-us-west-2.amazonaws.com/popupxnyc/static/kinghead.png') no-repeat right 0;
  }
  nav{
    padding-right: 1em;
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        a{
          padding: .25em 0;
          display: block;
          text-align: right;
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-size: .8em;
          letter-spacing: .2em;
          transition: color .5s linear;
          &:hover{
            color: #e081ad;
          }
          &.current{
            color: #d64175;
          }
        }
      }
    }
  }
}

#main-content{
  width: 78%;
  padding-right: 2%;
  float: right;
}