//---------------------------------------------------------------------------------------------
//  FRAMESCSS

  $font-size: 16px;     // Your base font-size in pixels
  $em: $font-size / 1em;  // Shorthand for outputting ems

  $column: 48px;  // The column-width of your grid in pixels
  $gutter: 24px;  // The gutter-width of your grid in pixels

  // Column-widths in variables, in ems  
   $cols1: ( 1 * ($column + $gutter) - $gutter) / $em; //   48px
   $cols2: ( 2 * ($column + $gutter) - $gutter) / $em; //  120px
   $cols3: ( 3 * ($column + $gutter) - $gutter) / $em; //  192px
   $cols4: ( 4 * ($column + $gutter) - $gutter) / $em; //  264px
   $cols5: ( 5 * ($column + $gutter) - $gutter) / $em; //  336px
   $cols6: ( 6 * ($column + $gutter) - $gutter) / $em; //  408px
   $cols7: ( 7 * ($column + $gutter) - $gutter) / $em; //  480px
   $cols8: ( 8 * ($column + $gutter) - $gutter) / $em; //  552px
   $cols9: ( 9 * ($column + $gutter) - $gutter) / $em; //  624px
  $cols10: (10 * ($column + $gutter) - $gutter) / $em; //  696px
  $cols11: (11 * ($column + $gutter) - $gutter) / $em; //  768px
  $cols12: (12 * ($column + $gutter) - $gutter) / $em; //  840px
  $cols13: (13 * ($column + $gutter) - $gutter) / $em; //  912px
  $cols14: (14 * ($column + $gutter) - $gutter) / $em; //  984px
  $cols15: (15 * ($column + $gutter) - $gutter) / $em; // 1056px
  $cols16: (16 * ($column + $gutter) - $gutter) / $em; // 1128px
  $cols17: (17 * ($column + $gutter) - $gutter) / $em; // 1200px
  $cols18: (18 * ($column + $gutter) - $gutter) / $em; // 1272px
  $cols19: (19 * ($column + $gutter) - $gutter) / $em; // 1344px
  $cols20: (20 * ($column + $gutter) - $gutter) / $em; // 1416px
  $cols21: (21 * ($column + $gutter) - $gutter) / $em; // 1488px
  $cols22: (22 * ($column + $gutter) - $gutter) / $em; // 1560px
  $cols23: (23 * ($column + $gutter) - $gutter) / $em; // 1632px
  $cols24: (24 * ($column + $gutter) - $gutter) / $em; // 1704px
  $cols25: (25 * ($column + $gutter) - $gutter) / $em; // 1776px
  $cols26: (26 * ($column + $gutter) - $gutter) / $em; // 1848px

  // Colors
  $black: #171717;
  $white: #f5f5f5;
  $pink-light: #f172ae;
  $pink-dark: #ec0075;

  // Header Images
  $king-110: 'https://s3-us-west-2.amazonaws.com/popupxnyc/static/kinghead-110.png';
  $king-147: 'https://s3-us-west-2.amazonaws.com/popupxnyc/static/kinghead-147.png';
  $king-220: 'https://s3-us-west-2.amazonaws.com/popupxnyc/static/kinghead-220.png';

//---------------------------------------------------------------------------------------------
//  TYPOGRAPHY

 body{
    font-size: 16px / $em;
    line-height: 24px / $em;
    
    font-family: 'Lato';
    font-weight: 200;
    text-transform: uppercase;
    
    color: $white;
    background: $black;
    a{ 
      color: $pink-dark;
      text-decoration: none;
    }
  }
  h1{ font-size: 1.4em;}
//---------------------------------------------------------------------------------------------
//  STRUCTURE

  .container {
    @include clearfix;  
    position: relative;
    margin: 0 auto;
    padding-top:  $gutter / $em;
    header.main, .content{ float: left; position: relative; z-index: 999; }
    header.main{
      position: fixed;
      text-align: right;
      h1{
        word-spacing: 2px / $em;
        margin-bottom: 10px / $em;
        //font-size: 24px /$em;
      }
      nav{
        padding-right: 1em;
        //font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
        ul li a{
          line-height: 2.25em;
          text-decoration: none;
          color: $white;
          transition: color .3s ease;
          &:hover{ color: $pink-light; }
          &.current{ color: $pink-dark; }
          &.current:after{
            position: absolute;
            content: '•';
            right: 0em;
            color: $pink-light;
          }
        }
        .main{ }
        &.admin{
          border:   2px $pink-dark dashed;
          border-left: none;
          .logout{
            border-top:   2px $pink-light dashed;
            color: red;
          }
        }
      }
    }
    .content{
      padding-top:  $gutter / $em;
    }
  }

  // MAKE THIS A FILE?
  .posts{
    position: relative;
    header{ position: relative;}
    h1{
      //font-size: 3em; 
      line-height: 1.5em;
    }
    .posted{
      //line-height: 4.5;
      position: absolute;
      top: 0;
      right: 0;
    }
    .blogimg{
      display: block;
      position: relative;
      height: auto;
      border: 1px $white solid;
      box-shadow: inset 0 0 40px 2px black;
      img{
        display: block;
        position: relative; 
        right: 1px;
        z-index: -1;

      }
    }
    .post{
      line-height: 1.5em;
    }
  }

  // MAKE THIS A FILE?
  section.admin{
    width: $cols10;
    background: rgba(0,0,0,.66);
    h1{
      //font-size: 2em;
      line-height: 3em;
    }
    form{
      label{
        display: inline-block;
        width: $cols2;
        text-align: right;
        margin-right: $gutter;
        line-height: 1.5em;
      }
      .actions{
        width: $cols6;
        background: pink;
        text-align: right;
      }
    }
  }

  .images{
    li{
      float: left;
      margin-right: $gutter / $em;
      margin-bottom: $gutter / $em;
      display: block;
      border: 1px $white solid;
      overflow: hidden;
      box-shadow: inset 0 0 50px 10px black;
      a{
        img{
          display: block;
          position: relative;
          z-index: -1;
        }
      }
    }
  }
  


//---------------------------------------------------------------------------------------------
//  MEDIA QUERIES

  // .test{
  //   position: fixed;
  //   .box{
  //     float: left; 
  //     background: hotpink;
  //     .text{ 
  //       text-align: center; 
  //       height: ($column + $gutter)*.4 / $em; 
  //       margin-right: $gutter; 
  //       background: $pink_dark; 
  //       color: $white;
  //       font-weight: 600;
  //       font-size: .8em;
  //       width: $column;
  //       position: relative;
  //       z-index: 999999;
  //     }
  //   }
  //   @for $i from 1 through 26 {
  //     #div#{$i} { 
  //       display: none;
  //     }
  //   }
  // }



  /* Laptop layout: 912-infinity px */
    @media screen and (min-width: 1em) {
      .container{
        width: $cols12; 
        header.main{
          width: $cols3;
          padding-top: 155px /$em;
          background: url($king-147) no-repeat top right;
        }
        .content{ width: $cols9; margin-left: $cols3 + $gutter / $em;  }
      }
      .blogimg, .blogimg img{ @include size($cols9 auto); }
      .images li, .images img{ @include size($cols4 auto); }
    }

  /* Full page zoom above 1024 px. Still desktop layout. */
    @media screen and (min-width: 64em){
      .container{
        width: $cols14;
        header.main{ 
          width: $cols4;
          padding-top: 195px /$em;
          background: url($king-220) no-repeat top right;
        }
        .content{ width: $cols10; margin-left: $cols4 + $gutter / $em;}
      }
      .blogimg, .blogimg img{ @include size($cols10 auto); }
      .images li, .images img{ @include size($cols3 auto); }
    }

  /* FULL PAGE 13" MBP */
    @media screen and (min-width: 80em){
      .container{
        width: $cols18;
        header.main{
          width: $cols5;
          padding-top: 195px /$em;
          background: url($king-220) no-repeat top right;
        }
        .content{ width: $cols13; margin-left: $cols5 + $gutter / $em; }
      }
      .blogimg, .blogimg img{ @include size($cols13 auto); }
      .images li, .images img{ @include size($cols3 auto); }
    }
