//---------------------------------------------------------------------------
//  FRAMESCSS
//---------------------------------------------------------------------------
  $font-size: 16px;     // Your base font-size in pixels
  $em: $font-size / 1em;  // Shorthand for outputting ems

  $column: 48px;  // The column-width of your grid in pixels
  $gutter: 24px;  // The gutter-width of your grid in pixels

  // Column-widths in variables, in ems  
   $cols1: ( 1 * ($column + $gutter) - $gutter) / $em;
   $cols2: ( 2 * ($column + $gutter) - $gutter) / $em;
   $cols3: ( 3 * ($column + $gutter) - $gutter) / $em;
   $cols4: ( 4 * ($column + $gutter) - $gutter) / $em;
   $cols5: ( 5 * ($column + $gutter) - $gutter) / $em;
   $cols6: ( 6 * ($column + $gutter) - $gutter) / $em;
   $cols7: ( 7 * ($column + $gutter) - $gutter) / $em;
   $cols8: ( 8 * ($column + $gutter) - $gutter) / $em;
   $cols9: ( 9 * ($column + $gutter) - $gutter) / $em;
  $cols10: (10 * ($column + $gutter) - $gutter) / $em;
  $cols11: (11 * ($column + $gutter) - $gutter) / $em;
  $cols12: (12 * ($column + $gutter) - $gutter) / $em;
  $cols13: (13 * ($column + $gutter) - $gutter) / $em;
  $cols14: (14 * ($column + $gutter) - $gutter) / $em;
  $cols15: (15 * ($column + $gutter) - $gutter) / $em;
  $cols16: (16 * ($column + $gutter) - $gutter) / $em;
  $cols17: (17 * ($column + $gutter) - $gutter) / $em;
  $cols18: (18 * ($column + $gutter) - $gutter) / $em;
  $cols19: (19 * ($column + $gutter) - $gutter) / $em;
  $cols20: (20 * ($column + $gutter) - $gutter) / $em;
  $cols21: (21 * ($column + $gutter) - $gutter) / $em;
  $cols22: (22 * ($column + $gutter) - $gutter) / $em;
  $cols23: (23 * ($column + $gutter) - $gutter) / $em;
  $cols24: (24 * ($column + $gutter) - $gutter) / $em;
  $cols25: (25 * ($column + $gutter) - $gutter) / $em;
  $cols26: (26 * ($column + $gutter) - $gutter) / $em;

//---------------------------------------------------------------------------
//  LAYOUT
//---------------------------------------------------------------------------

  $black: #171717;
  $white: #f5f5f5;
  $pink-light: #f172ae;
  $pink-dark: #ec0075;

  body{
    font-size: $font-size / $em;
    line-height: 24px / $em;
    
    font-family: 'Lato';
    font-weight: 400;
    text-transform: uppercase;
    
    color: $white;
    background: $black;
    a{ 
      color: $pink-dark;
      text-decoration: none;
    }
  }

  .container {
    @include clearfix;  
    position: relative;
    margin: 0 auto;
    z-index: 99; 
    header.main, .content{ float: left; position: relative; z-index: 999; }
    header.main{
      position: fixed;
      padding-top: 200px;
      padding-right: $gutter / $em;
      background: url('https://s3-us-west-2.amazonaws.com/popupxnyc/static/kinghead.png') no-repeat top right;
      text-align: right;
      h1{
        font-size: 24px / $em;
        font-weight: 200;
        word-spacing: 2px / $em;
        margin-bottom: 20px / $em;
      }
      nav{
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
        ul li a{
          line-height: 2.25em;
          text-decoration: none;
          color: $white;
          &:hover{
            color: $pink-light;
          }
        }
        .main{ }
        .admin{ }
      }
    }
    .content{
      padding-top:  $gutter / $em;
    }
  }


  .posts{
    position: relative;
    header{ position: relative;}
    h1{
      font-size: 3em; 
      line-height: 1.5em; 
    }
    .posted{
      line-height: 4.5;
      position: absolute;
      top: 0;
      right: ($column + $gutter) / $em;
    }
    .blogimg{
      vertical-align: middle;
      display: inline-block;
      font-size: 0;
      height: auto;
      border: 1px $white solid;
      box-shadow: inset 0 0 40px black;
      display: block;
      position: relative;
      margin-bottom: 32.5em;
      img{
        position: relative; z-index: -1;
        display: block;
      }
    }
    .post{
      line-height: 1.5em;
    }
  }


  section.admin{
    display: none;
    border: 1px red dashed;
    background: #fff;
    h1{
      //font-size: 2em;
    }
    form{
      label{
        display: inline-block;
        width: $cols2;
      }
      .actions{
        text-align: right;
      }
    }
  }

//---------------------------------------------------------------------------
//  MEDIA QUERIES
//---------------------------------------------------------------------------

  .test{
    position: fixed;
    .box{
      float: left; 
      background: rgba(255,255,255,.05);
      .text{ 
        text-align: center; 
        height: ($column + $gutter)*40 / $em; 
        margin-right: $gutter; 
        background: rgba(255,255,0,.05); 
        color: rgba(255,255,255,.25); 
        font-weight: 400;
        font-size: .75em;
        width: $column; }
      }
    @for $i from 1 through 26 {
      #div#{$i} { 
        display: none;
      }
    }
  }



  /* Mobile layout: 480-767 px. Zoomed in above 480 px */
    @media screen and (min-width: 30em){
      .container{
        width: 100%;
        header.main{ width: 100%; }
        .content{ width: 100%;}
      }

    }

  /* Tablet layout: 600-911 px. Zoomed in above 600 px */
    @media screen and (min-width: 37.5em){
      .container{
        width: $cols8;
        header.main{ width: $cols2; }
        .content{ width: $cols7; margin-left: $cols2 + $gutter / $em; }
      }
      .blogimg, .blogimg img{ @include size(408px auto); }
      .test{
        @for $i from 1 through 8 {
          #div#{$i} { 
            display: block;
          }
        }
      }
    }

  /* Laptop layout: 912-infinity px */
    @media screen and (min-width: 57em) {
      .container{
        width: $cols12;
        header.main{ width: $cols3; }
        .content{ width: $cols10; margin-left: $cols3 + $gutter / $em;  }
      }
      .blogimg, .blogimg img{ @include size(624px auto); }
      .test{
        @for $i from 1 through 12 {
          #div#{$i} { 
            display: block;
          }
        }
      }
    }

  /* Full page zoom above 1024 px. Still desktop layout. */
    @media screen and (min-width: 64em){
      .container{
        width: $cols14;
        header.main{ width: $cols4; }
        .content{ width: $cols11; margin-left: $cols4 + $gutter / $em;}
      }
      .blogimg, .blogimg img{ @include size(696px auto); }
      .test{
        @for $i from 1 through 14 {
          #div#{$i} { 
            display: block;
          }
        }
      }
    }

  /* FULL PAGE 13" MBP */
    @media screen and (min-width: 80em){
      .container{
        width: $cols18;
        header.main{ width: $cols4;}
        .content{ width: $cols15; margin-left: $cols4 + $gutter / $em; }
      }
      .blogimg, .blogimg img{ @include size(984px auto); }
      .test{
        @for $i from 1 through 18 {
          #div#{$i} { 
            display: block;
          }
        }
      }
    }




    @media screen and (max-width: 36.5em){}
    @media screen and (max-width: 56em){    .test #div8{ width: $column; }}
    @media screen and (max-width: 64em){    .test #div12{ width: $column; }}
    @media screen and (max-width: 79em){    .test #div14{ width: $column; }}
    @media screen and (max-width: 920em){   .test #div18{ width: $column; }}





/*
  An easy way to zoom your entire layout in or out (as long as it's set in ems).
  Just change the media queries to activate them.
  Assuming your base font-size is 16:
  - the first one zooms out by a factor of (16-2)/16 = 0.875
  - the second one zooms in by a factor of (16+2)/16 = 1.125  
*/

  @media screen and (max-width: 1) {
    body {
      font-size: ($font-size - 2) / $em;
    }
  }

  @media screen and (max-width: 1px) {
    body {
      font-size: ($font-size + 2) / $em;
    }
  }
